@charset "UTF-8";

/* 전체 배경색 및 페이지 넓이 조정 */
body {
    background-color: #fff;
    margin: 0;
}

#Accordion_wrap {
    width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* 질문 항목 스타일 */
.que {
    position: relative;
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.2s;
}

.que:hover {
    background-color: #EFEFEF;
}

.que::before {
    display: inline-block;
    content: 'Q';
    font-size: 24px;
    color: #C46FB2;
    margin-right: 10px;
}

.que.on>span {
    font-weight: bold;
    color: #C46FB2;
}

/* 답변 항목 스타일 */
.anw {
    display: none;
    overflow: hidden;
    font-size: 18px;
    padding: 20px;
    background-color: #f4f4f2;
}

.anw::before {
    display: inline-block;
    content: 'A';
    font-size: 24px;
    font-weight: bold;
    color: #C46FB2;
    margin-right: 10px;
}

/* 화살표 아이콘 스타일 */
.arrow-wrap {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 24px;
    color: #C46FB2;
    cursor: pointer;
}

/* 활성화된 질문 스타일 */
.que.active {
    background-color: #EFEFEF;
}
.que.active .arrow-wrap {
    transform: translateY(-50%) rotate(90deg);
}
