@charset "EUC-KR";

/* 결과 메시지 스타일 */
.result-message {
    font-family: Arial, sans-serif; /* 원하는 글꼴로 변경 */
    background-color: #F8F8F8; /* 배경색 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: 0;
    padding: 0;
}

.result-message h1 {
    font-size: 24px; /* 원하는 폰트 크기로 변경 */
    color: #1E56A0; /* 글자 색상 설정 */
    margin-bottom: 20px;
}
