@charset "EUC-KR";

.my-page-wrapper {
    width: 400px;
    margin: auto;
}
.profile-section {
    text-align: center;
    margin-bottom: 20px;
}
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: grey;
}
.profile-btn {
    margin-top: 10px;
}
.info-section {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.info-section:last-child {
    border-bottom: none;
}
.info-section > span {
    font-weight: bold;
}