@charset "UTF-8";
body{
	display: flex;
	flex-direction: column;
}
header{
	
}
#title{
	align-content: center;
}
main{
	/* height:	1000px; */
	display: flex;
	flex-direction: row;
	padding-left: 250px;
}

footer{
	height: 300px;
	align-items: center;
}


nav > ul, li{
	list-style: none;
}


a:link, a:visited, a:hover{
	text-decoration: none;
	color:black;
}

#main_page{
	width: 1500px;
}