@charset "UTF-8";
body{
	display: flex;
	flex-direction: column;
}
header{
	
}

main{
	display: flex;
	flex-direction: row;
}

nav > ul, li{
	list-style: none;
}


a:link, a:visited, a:hover{
	text-decoration: none;
	color:black;
}

#main_page{
	width: 1500px;
}