@charset "UTF-8";
*{
	font-size: 14px;
}
body{
	display: flex;
	flex-direction: row;
	
}
/* main{
	display: flex;
	flex-direction: column;
	margin-left: 150px;
	align-items: center;

} */
main{
	margin-left:50px;
	height: auto;
	width: 1200px;
}
