@charset "EUC-KR";

/* Container */
.container {
	width: 80%;
	margin: auto;
	padding: 20px;
}
/* Card */
.card {
	border: 1px solid #ccc;
	padding: 20px;
	margin-top: 20px;
}
/* Card Body */
.card-body {
	padding: 10px;
}
/* Form Group */
.form-group {
	margin-bottom: 20px;
}
/* Buttons */
button {
	padding: 10px 20px;
	margin-top: 10px;
}