<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.or.smhrd.dao.AnalyzeDAO">
 	<select id="keywordSelect" resultType="kr.or.smhrd.dto.KeywordDTO">
 		select * from keyword
 		where g_no=#{param1}
 	</select>
</mapper>