<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.or.smhrd.dao.UserDAO">
	
	<!-- 회원등록 -->
	<insert id="UserInsert">
		<if test="u_photo != null" >
			INSERT INTO USERS(u_id, u_pw, u_name, u_email, u_phone, u_birthdate, u_gender, u_photo)
			VALUES (#{u_id}, #{u_pw}, #{u_name}, #{u_email}, #{u_phone}, #{u_birthdate}, #{u_gender}, #{u_photo})
		</if>
		<if test="u_photo == null" >
			INSERT INTO USERS(u_id, u_pw, u_name, u_email, u_phone, u_birthdate, u_gender)
			VALUES (#{u_id}, #{u_pw}, #{u_name}, #{u_email}, #{u_phone}, #{u_birthdate}, #{u_gender})
		</if>
	</insert> 	

 	<!-- 로그인 -->
	<select id="loginOk" resultType="kr.or.smhrd.dto.UserDTO">
		SELECT * 
		FROM users
		WHERE u_id=#{param1} AND u_pw=#{param2}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="IdSearch" resultType="kr.or.smhrd.dto.UserDTO">
		SELECT u_id, u_name, u_email
		FROM USERS
		WHERE u_name=#{u_name} AND u_email=#{u_email}
	</select> 
	
	<!-- 비밀번호 찾기 -->
	<select id="PwSearch" resultType="kr.or.smhrd.dto.UserDTO">
		SELECT u_id, u_name, u_email, u_pw
		FROM USERS
		WHERE u_id=#{u_id} AND u_email=#{u_email}
	</select>
	
	<!-- 회원정보 -->
	<select id="UserSelect" resultType="kr.or.smhrd.dto.UserDTO">
		SELECT u_id, u_pw, u_name, u_email, u_phone, u_birthdate, u_gender , u_photo
		FROM USERS
		WHERE u_id=#{u_id} 
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="UserEdit">
		UPDATE USERS 
		SET u_name=#{u_name}, u_email=#{u_email}, u_pw=#{u_pw}, u_phone=#{u_phone}, u_photo=#{u_photo}
		WHERE u_id=#{u_id}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="UserDel" >
		DELETE FROM USERS WHERE u_id=#{param1} AND u_pw=#{param2}
	</delete>
	
	<!-- 아이디 중복체크 -->
	<select id="CheckId" resultType="String">
		SELECT u_id FROM USERS WHERE u_id=#{param1}
	</select>
</mapper>